<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">{{title}}</div>

                    <div class="card-body">
                       <ul>
                        <!--   <li v-for="name in names">{{name}}</li> -->
                       </ul>
                       {{prvi}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data(){
            return {
                names:['prvi','drugi'],
                title:"Example Component",
                prvi:''
            }
        },
        async mounted() {

            const response = await axios.get('/api/baje');
            console.log(response);
            const data =  await response.data;


            this.names = [...this.names, ...data];
            console.log(this.names);
        }

    }
</script>
