<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">fadil
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</template>

<script>
import Chart from 'chart.js';
    export default {
        data(){
            return {
               dataChart: {
                type: 'bar',
                data: {
                    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                    datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(153, 102, 255, 0.7)',
                            'rgba(255, 159, 64, 0.7)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
               
             }
            }
        },
        ready(){
          
        },
        mounted() {
             var ctx = document.getElementById('myChart').getContext('2d');
          
            var myChart = new Chart(ctx,this.dataChart);
              console.log(myChart);
        },
       
    }
</script>
